select.form-control {
    color: black !important;
    padding: 0.875rem 1.375rem !important;
}

.deleteMaster {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.deleteMaster i {
    transition: color 0.3s;
    color: rgb(214, 115, 115);
}

.deleteMaster:hover i {
    color: rgb(255, 0, 0);
}

.editMaster {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.editMaster i {
    transition: color 0.3s;
    color: rgb(151, 151, 249);
}

.editMaster:hover i {
    color: rgb(0, 110, 255);
}

.form-control{
    border: 1px solid #c5bebe;
}
